nav,
main {
  padding: 24px;
}

nav {
  background-color: #039be5;
}

nav a {
  text-decoration: none;
}

nav a h2 {
  color: #ffffff;
  margin: 0;
}

main {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.card {
  width: 40%;
  height:auto;
  border: 1px solid #039be5;
  border-radius: 4px;
  margin-top: 24px;
}

.card img {
  width: 100%;
  height: 30vh;
}

.card-content {
  padding: 16px;
}

.card-content a {
  display: inline-block;
  margin-top: 12px;
}
.btnUpdateBlog,
.btnDeleteBlog,
  .btnAddBlog{
  background-color: #039be5;
  width: 20%;
  height: 5vh;
  margin:3% 40%;
  border: none;
  border-radius: 8px;
  font-size: medium;
}

.btnUpdateBlog a,
.btnDeleteBlog a,
.btnAddBlog a{
  text-decoration: none;
  color:whitesmoke;

}
.btnUpdateBlog:hover,
.btnDeleteBlog:hover,
.btnAddBlog:hover{
  cursor: pointer;
}

.btnDeleteBlog{
  background-color: tomato;
}